.toolbar {
  display             : flex;
  justify-content     : flex-end;
  container-type      : inline-size;
  container-name      : toolbar;
}

.tools {
  display       : flex;
  align-items   : center;
  column-gap    : var(--space-1);
}
.tools .spacer {
  width             : 4px;
  height            : 100%;
}

.tool {
  display           : inline-flex;
  align-items       : center;
  justify-content   : center;
  column-gap        : var(--space-1);
  width             : 24px;
  height            : 20px;
  padding           : unset;
  border-radius     : unset;
  color             : var(--text-primary);
  background-color  : unset;
}
.tool:hover {
  border-radius   : var(--radius-4);
  background-color: var(--surface-2);
}
.tool:disabled { opacity: 0.5; cursor: not-allowed; }
.tool > span { font-size: var(--text-xs); }
