.handle {
  width: 100%;
  height: 100%;
  cursor: col-resize;
  background: var(--border-color);
  touch-action: none;
  user-select: none;
  position: relative;
  z-index: 10;

  /* a11y focus */
  outline: none;
}
.handle:hover,
.handle:focus {
  background: var(--resizer-hover);
}

.collapsed-left {
  cursor: e-resize;
}

.collapsed-right {
  cursor: w-resize;
}
