@import url('@Styles/mediaQueries.css');


.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100svh;
  gap: var(--32px);
  padding-block: var(--24px);
  padding-inline: var(--px-24);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--32px);
  padding-block: var(--24px);
  padding-inline: var(--px-24);
  border-radius: var(--radius-12);
  border: var(--border-1) solid var(--border-color);
}

@media (--from-tablet) {
  .page {
    padding-block: var(--48px);
    padding-inline: var(--px-80);
    gap: var(--64px);
  }

  .main {
    padding-block: var(--48px);
    padding-inline: var(--px-48);
  }
}
