.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100svh;
  gap: var(--space-16);
  padding-block: var(--space-12);
  padding-inline: var(--space-20);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  padding-block: var(--space-12);
  padding-inline: var(--space-12);
  border-radius: var(--radius-12);
  border: var(--border-1) solid var(--border-primary);
}
