.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100svh;
  gap: var(--64px);
  padding-block: var(--48px);
  padding-inline: var(--px-80);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--32px);
  padding-block: var(--48px);
  padding-inline: var(--px-48);
  border-radius: var(--radius-12);
  border: var(--border-1) solid var(--border-color);
}
