@layer print {
  @media print {
    * {
      box-shadow:   none !important;
      text-shadow:  none !important;
    }
    a::after {
      content: ' (' attr(href) ')';
    }
    nav, aside {
      display: none !important;
    }
    body {
      background-color  : var(--white) !important;
      color             : var(--black) !important;
    }
  }
}
