/* desktop-only project: no mobile-first imports needed */
:root {
  /* font-weight */
  --thin:         100;
  --extra-light:  200;
  --light:        300;
  --regular:      400;
  --medium:       500;
  --semi-bold:    600;
  --bold:         700;
  --extra-bold:   800;
  --black:        900;

  /* line-height */
  --leading-none:     1    ;
  --leading-compact:  1.25 ;
  --leading-packed:   1.30 ;
  --leading-tight:    1.375;
  --leading-snug:     1.45 ;
  --leading-normal:   1.5  ;
  --leading-relaxed:  1.625;
  --leading-loose:    2    ;

  /* letter-spacing */
  --tracking-tighter: -0.05em ;
  --tracking-tight:   -0.025em;
  --tracking-normal:  0em     ;
  --tracking-wide:    0.025em ;
  --tracking-wider:   0.05em  ;
  --tracking-widest:  0.1em   ;
}

@layer typography {
  body {
    font-family:  var(--font-inter-variable);
    font-weight:  var(--regular);
    font-size:    var(--space-4);
    line-height:  var(--leading-normal);
  }

  h1, h2, h3 {
    font-family: var(--font-inter-display);
  }

  h1 {
    font-size:      clamp(var(--space-8), 3vw + var(--space-4), var(--space-16));
    font-weight:    var(--medium);
    letter-spacing: var(--tracking-tight);
    line-height:    var(--leading-packed);
    margin-block:   var(--space-6);
  }
  h2 {
    font-size:    clamp(var(--space-6), 1.5vw + var(--space-3_5), var(--space-8));
    font-weight:  var(--regular);
    line-height:  var(--leading-normal);
    margin-block: var(--space-5);
  }
  h3 {
    font-size:    var(--space-5);
    font-weight:  var(--regular);
    line-height:  var(--leading-normal);
    margin-block: var(--space-4);
  }

}
